.nav-li {
  color: #fff;
  /* background-color: red; */
  /* display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1; */
}
/* .nav::before {
  content: "";
  background-color: rgb(27, 13, 18);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
} */
